/* Filename: App.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.user,
.dashboard,
.nmap,
.nmap1,
.nmap2,
.allOutput,
.vuln,
.vuln1,
.vuln2,
.vuln3,
.support,
.details {
  display: flex;
  margin-left: 260px;
  font-size: 1rem;
  flex-direction: column; /* Ensure content is displayed in a column */
  padding: 20px; /* Add some padding for better readability */
}

/* Add styles for other elements inside Details */
.details h1,
.details h2,
.details p,
.details pre {
  margin-bottom: 15px;
}
