/* Filename: App.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.home,
.user,
.dashboard,
.nmap,
.nmap1,
.nmap2,
.allOutput,
.vuln,
.vuln1,
.vuln2,
.vuln3,
.support{
	display: flex;
	margin-left: 260px;
	font-size: 1rem;
}
